#tabs li {
	cursor: pointer;
}

.response-form input {
	display: none;
}

#questions {
	width: 50%;
	margin: auto;
}

#tabs {
	width: 50%;
	margin: 1% auto;
}

/* Para smartphones: */
@media (min-width: 320px) and (max-width: 480px) {
	#questions {
		width: 100%;
		margin: auto;
	}
	
	#tabs {
		width: 100%;
	}
}
