<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Criar uma conta</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		
		<style>
			.card {
				width: 60%;
				margin: 2px auto auto;
			}
			
			@media (min-width: 320px) and (max-width: 480px) {
				.card {
					width: 98%;
					margin: 2px auto auto;
				}
			}
		</style>
	</head>
	<body>
		
		<div class="card">
			<div class="card-body">
				<h2 align="center">Criar uma conta</h2>
				{{error|safe}}
				
				<form method="post">
					{% csrf_token %}
					<input type="hidden" name="redirect" value="{{ redirect }}">
					<input class="form-control" type="text" name="username" placeholder="Nome de usuário" value="{{username}}" required="required">
					<input class="form-control" type="email" name="email" placeholder="Email" value="{{email}}" required="required">
					<input class="form-control" type="password" name="password" placeholder="Senha" required="required">
					<input class="btn" type="submit" value="Criar conta">
				</form>
			</div>
		</div>
		
	</body>
</html>
